# Node / JS
node_modules/

# Environnement
.env
.env.*

# Expo / React Native
.expo/
.expo-shared/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
# Uploads utilisateurs
uploads/
padel-api/uploads/